# Data Science Tools and Ecosystem

In this Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
- Python
- R
- SQL

__Objectives:__
- Popular Languages use by Data Scientists
- Commonly used libraries in Data Science
- Data Science Tools

Some of the commonly used libraries used by Data Scientists include:
- Pandas
- Numpy
- Matplotlib
- Seaborn
- Caret

| Data Science Tools|
| :-------|
| Python | 
| R |
| SQL|

### Below are a few examples of evaluating arithmetic expressions in Python

In [16]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [18]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Ramesh